/* Styles for railway visualisations */
body {
    /* set margin to 0 and overflow to hidden, to go fullscreen */
    margin: 0;
    overflow: hidden;
}

@font-face {
    font-family: 'bpdotsregular';
    src: url('../font/BPdots-webfont.eot');
    src: url('../font/BPdots-webfont.eot?#iefix') format('embedded-opentype'),
    url('../font/BPdots-webfont.woff') format('woff'),
    url('../font/BPdots-webfont.ttf') format('truetype'),
    url('../font/BPdots-webfont.svg#bpdotsregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
.noDisplay {
    display: none;
}
.centred {
    text-align: center;
}
.infoPanel {
    position: absolute;
    color: #d9d7dc;
    font-size: 1.5vw;
}
.clearInfoPanel {
    position: absolute;
    color: #d9d7dc;
    font-size: 2vw;
    padding: 1% 0;
    border-radius: 10px;
    background-color: rgba(70, 70, 70, 0.5);
}
.ledDisplay {
    font-family: 'bpdotsregular';
    font-size: 1.8vw;
}
.no-pad > [class^="col-"] {
    padding-right: 0;
    padding-left: 0;
}
#simControls {
    top: 2%;
    left: 2%;
    width: 25%;
    -webkit-touch-callout: none;
}
#simControls p {
    margin: 0;
    font-size: 4vw;
}
#simControls img {
    width: 90%;
}
#simControls button {
    width: 75%;
    padding: 0;
}
#camControls {
    top: 2%;
    left: 27.5%;
    width: 40%;
    -webkit-touch-callout: none;
}
#camControls p {
    font-size: 4vw;
}
#camControls button {
    width: 40%;
    padding: 0;
}
#timeDateOutput {
    top: 2%;
    right: 1%;
    width: 25%;
    background: #323232;
    padding: 1%;
    border-radius: 10px;
    font-size: 4vw;
    -webkit-touch-callout: none;
}
#zoomControl {
    bottom: 2.5%;
    right: 1%;
    width: 20%;
    -webkit-touch-callout: none;
}
#zoomControl p {
    font-size: 4vw;
    margin: 0;
}
#zoomControl button {
    width: 45%;
    padding: 2.5% 0;
}
#zoomControl img {
    width: 90%;
}
#selectTrackContainer {
    margin-top: 5%;
}
.dropdown {
    margin-top: 3%;
}
.dropdown-menu {
    background-color: #2d6ca2;
}
.dropdown-menu>li>a {
    color: white;
}
#instructions {
    left: 1%;
    bottom: 1%;
    -webkit-touch-callout: none;
}
#instructions img {
    width: 40%;
}
#copyright {
    left: 17.5%;
    bottom: 2.25%;
    color: white;
    font-size: 3vw;
    -webkit-touch-callout: none;
}
#notSupported {
    top: 20%;
    left: 12.5%;
    width: 75%;
    background-color: #3e3e3e;
    color: white;
    font-size: 1.25vw;
    border-radius: 15px;
    padding: 1%;
}
/* Media queries */
@media (min-width: 568px) {
    #simControls {
        width: 20%;
    }
    #simControls p,
    #camControls p {
        font-size: 2.5vw;
    }
    #camControls {
        width: 30%;
    }
    #timeDateOutput {
        font-size: 2.5vw;
    }
    #copyright {
        font-size: 2.5vw;
        left: 12%;
    }
    #zoomControl {
        width: 12.5%;
    }
    #zoomControl p {
        font-size: 2.5vw;
    }
}
@media (min-width: 568px) and (orientation: portrait) {
    #simControls {
        width: 27.5%;
    }
    #camControls {
        width: 40%;
        left: 32.5%;
    }
    #timeDateOutput {
        font-size: 3.5vw;
    }
    #zoomControl {
        width: 17.5%;
    }
    #zoomControl p {
        font-size: 4vw;
    }
}
@media (min-width: 768px) {
    #simControls img {
        width: 70%;
    }
    #camControls {
        width: 25%;
        left: 25%;
    }
    #copyright {
        font-size: 1.75vw;
        left: 10%;
    }
}
@media (min-width: 768px) and (orientation: portrait) {
    #simControls {
        width: 30%;
    }
    #simControls img {
        width: 85%;
    }
    #simControls button {
        padding: 2% 0;
        font-size: 3vw;
    }
    #camControls {
        width: 35%;
        left: 32.5%;
    }
    #camControls button {
        font-size: 2.5vw;
        padding: 2% 0;
    }
}
@media (min-width: 992px) {
    #simControls img {
        width: 80%;
    }
    #simControls button {
        font-size: 2.25vw;
        padding: 2% 0;
    }
    #camControls button {
        font-size: 2vw;
        padding: 1% 0;
    }
    #instructions {
        bottom: 2.5%;
    }
    #instructions img {
        width: 50%;
    }
}
@media (min-width: 992px) and (orientation: portrait) {
    #camControls button {
        font-size: 2.5vw;
        padding: 2% 0;
    }
}
@media (min-width: 1200px) {
    #instructions {
        bottom: 1%;
    }
    #instructions img {
        width: 60%;
    }
}