/* Styles for railway visualisations */
body {
    /* set margin to 0 and overflow to hidden, to go fullscreen */
    margin: 0;
    overflow: hidden;
}

@font-face {
    font-family: 'bpdotsregular';
    src: url('../font/BPdots-webfont.eot');
    src: url('../font/BPdots-webfont.eot?#iefix') format('embedded-opentype'),
    url('../font/BPdots-webfont.woff') format('woff'),
    url('../font/BPdots-webfont.ttf') format('truetype'),
    url('../font/BPdots-webfont.svg#bpdotsregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
.noDisplay {
    display: none;
}
.centred {
    text-align: center;
}
.infoPanel {
    position: absolute;
    color: #d9d7dc;
    font-size: 1.5vw;
}
.clearInfoPanel {
    position: absolute;
    color: #d9d7dc;
    font-size: 1.5vw;
    padding: 1% 0;
    border-radius: 10px;
    background-color: rgba(70, 70, 70, 0.5);
    height: 21vh;
}
.ledDisplay {
    font-family: 'bpdotsregular';
    font-size: 1.8vw;
}
#simControls {
    top: 2%;
    left: 2%;
    width: 12.5%;
}
#simControls img {
    width: 100%;
}
#camControls {
    top: 2%;
    left: 16%;
    width: 12.5%;
}
#timeDateOutput {
    top: 2%;
    right: 1%;
    background: #323232;
    padding: 1%;
    border-radius: 10px;
}
#version {
    left: 3%;
    bottom: 2%;
}
#selectTrackContainer {
    margin-top: 5%;
}
.dropdown {
    margin-top: 3%;
}
.dropdown-menu {
    background-color: #2d6ca2;
}
.dropdown-menu>li>a {
    color: white;
}
#instructions {
    left: 1%;
    bottom: 1%;
}
#instructions img {
    width: 60%;
}
#copyright {
    left: 7.5%;
    bottom: 2.25%;
    color: white;
    font-size: 1.5vw;
}
#notSupported {
    top: 20%;
    left: 12.5%;
    width: 75%;
    background-color: #3e3e3e;
    color: white;
    font-size: 1.25vw;
    border-radius: 15px;
    padding: 1%;
}